*.iml
/.idea
/.mvn
/target

/happyhoursService/target
/happyhoursService/.mvn
/happyhoursService/mvnw
/happyhoursService/mvnw.cmd

/happyhoursCommunication/.mvn
/happyhoursCommunication/mvnw
/happyhoursCommunication/mvnw.cmd
/happyhoursCommunication/target

/happyhoursAuthServer/.mvn
/happyhoursAuthServer/target
/happyhoursAuthServer/mvnw
/happyhoursAuthServer/mvnw.cmd

/happyhoursConfig/.mvn
/happyhoursConfig/target
/happyhoursConfig/mvnw
/happyhoursConfig/mvnw.cmd


/happyhoursRegistry/.mvn
/happyhoursRegistry/target
/happyhoursRegistry/mvnw
/happyhoursRegistry/mvnw.cmd


/happyhoursStatistic/.mvn
/happyhoursStatistic/target
/happyhoursStatistic/mvnw
/happyhoursStatistic/mvnw.cmd